.cookie-manager{
  display: none;
  position: fixed;
  padding: 20px;
  bottom: 10px;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  z-index: 1002;
  left: 50%;
  transform: translateX(-50%);
  -webkit-box-shadow: 10px 1px 52px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 1px 52px 0px rgba(0,0,0,0.35);
  box-shadow: 10px 1px 52px 0px rgba(0,0,0,0.35);

  .cookie-manager-title{
    font-size: 16px;
    margin: 0;
  }
  .cookie-manager-text{
    font-size: 12px;
  }

  .cookie-manager-settings{
    margin-top: 15px;
    label{
      display: block;
      font-size: 14px;
      margin-bottom: 10px;
      span.title{
        padding: 0 0 0 10px;
        line-height: 18px;
      }
    }
  }
  .cookie-manager-settings-button{
    margin-top: 10px;
    .cookie-manager-settings-save-button{
      cursor: pointer;
      float: right;
      display: inline-block;
      padding: 9px 15px 7px 15px !important;
      font-size: 10px;
      line-height: 9px;
    }
  }
}

.cookie-manager-button{
  display: block;
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 4;
  .cookie-manager-button-link{
    cursor: pointer;
    padding: 8px 10px 5px 10px !important;
    font-size: 9px;
    line-height: 8px;
  }
}